In [2]:
import h2o
from h2o.estimators.deeplearning import H2ODeepLearningEstimator

In [3]:
#
# initialising h2o instance
#
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM 18.9 (build 11.0.11+9-LTS-194, mixed mode)
  Starting server from C:\Users\Gerd\venvs\h2o\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Gerd\AppData\Local\Temp\tmpimk9r00s
  JVM stdout: C:\Users\Gerd\AppData\Local\Temp\tmpimk9r00s\h2o_Gerd_started_from_python.out
  JVM stderr: C:\Users\Gerd\AppData\Local\Temp\tmpimk9r00s\h2o_Gerd_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.1
H2O_cluster_version_age:    29 days
H2O_cluster_name:           H2O_from_python_Gerd_zagcwr
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.975 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.9.0 final
--------------------------  ---------------------------------------------------------

In [4]:
url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [7]:
train, test = iris.split_frame([0.8])

In [8]:
train.summary()

,sepal_len,sepal_wid,petal_len,petal_wid,class
type,real,real,real,real,enum
mins,4.3,2.0,1.0,0.1,
mean,5.822608695652175,3.064347826086957,3.6956521739130426,1.167826086956522,
maxs,7.9,4.4,6.9,2.5,
sigma,0.8351973051442468,0.4308684222056715,1.7646823333407304,0.7586400373899632,
zeros,0,0,0,0,
missing,0,0,0,0,0
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,5.0,3.6,1.4,0.2,Iris-setosa
3,5.4,3.9,1.7,0.4,Iris-setosa
4,4.6,3.4,1.4,0.3,Iris-setosa
5,5.0,3.4,1.5,0.2,Iris-setosa
6,4.4,2.9,1.4,0.2,Iris-setosa
7,4.9,3.1,1.5,0.1,Iris-setosa
8,5.4,3.7,1.5,0.2,Iris-setosa
9,4.8,3.4,1.6,0.2,Iris-setosa

In [9]:
model = H2ODeepLearningEstimator()

#
# train -> first parameter = input columns, second parameter = target column
#
model.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

deeplearning Model Build progress: |██████████████████████████████████████| 100%

In [10]:
model

Model Details
=============
H2ODeepLearningEstimator :  Deep Learning
Model Key:  DeepLearning_model_python_1619271257534_1


Status of Neuron Layers: predicting class, 3-class classification, multinomial distribution, CrossEntropy loss, 41Â 803 weights/biases, 498,2 KB, 1Â 150 training samples, mini-batch size 1

,,layer,units,type,dropout,l1,l2,mean_rate,rate_rms,momentum,mean_weight,weight_rms,mean_bias,bias_rms
0,,1,4,Input,0.0,,,,,,,,,
1,,2,200,Rectifier,0.0,0.0,0.0,0.003507,0.002416,0.0,-0.001427,0.110802,0.494378,0.014213
2,,3,200,Rectifier,0.0,0.0,0.0,0.018719,0.072342,0.0,-0.00239,0.070427,0.994793,0.010572
3,,4,3,Softmax,,0.0,0.0,0.013022,0.083196,0.0,0.034924,0.401585,-0.000003,0.002046

ModelMetricsMultinomial: deeplearning
** Reported on train data. **

MSE: 0.018365991111276184
RMSE: 0.13552118325662665
LogLoss: 0.0532757664449704
Mean Per-Class Error: 0.027065527065527062
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         40.0              0.0             0.0  0.000000   0 / 40
1          0.0             38.0             1.0  0.025641   1 / 39
2          0.0              2.0            34.0  0.055556   2 / 36
3         40.0             40.0            35.0  0.026087  3 / 115

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.973913
1  2   1.000000
2  3   1.000000

Scoring History:

,,timestamp,duration,training_speed,epochs,iterations,samples,training_rmse,training_logloss,training_r2,training_classification_error,training_auc,training_pr_auc
0,,2021-04-24 20:57:37,0.000 sec,None,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,,2021-04-24 20:57:37,0.376 sec,552 obs/sec,1.0,1,115.0,0.508710,1.595468,0.607698,0.278261,NaN,NaN
2,,2021-04-24 20:57:38,0.456 sec,4035 obs/sec,10.0,10,1150.0,0.135521,0.053276,0.972158,0.026087,NaN,NaN

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_wid             1.000000           1.000000    0.270835
1  petal_len             0.987660           0.987660    0.267493
2  sepal_wid             0.861099           0.861099    0.233216
3  sepal_len             0.843528           0.843528    0.228457

In [8]:
#
# using the model to predict on the test set
#
predict = model.predict(test)

deeplearning prediction progress: |███████████████████████████████████████| 100%

In [9]:
predict

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.999995,4.83653e-06,4.3343e-29
Iris-setosa,1,1.13845e-07,9.18614e-30
Iris-setosa,0.999999,1.10159e-06,1.74707e-30
Iris-setosa,1,8.24607e-08,5.48181e-29
Iris-setosa,0.999999,1.19874e-06,7.93944e-28
Iris-setosa,0.999998,1.56873e-06,5.7356e-29
Iris-setosa,0.999995,4.83653e-06,4.3343e-29
Iris-setosa,0.999999,6.09462e-07,2.18412e-29
Iris-versicolor,0.000121066,0.999879,4.5713e-10
Iris-versicolor,4.56289e-08,0.909238,0.0907618

In [11]:
model.model_performance(test)

ModelMetricsMultinomial: deeplearning
** Reported on test data. **

MSE: 0.03293061174102424
RMSE: 0.18146793584824908
LogLoss: 0.09284685474725823
Mean Per-Class Error: 0.06060606060606061
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0         10.0              0.0             0.0  0.000000  0 / 10
1          0.0              9.0             2.0  0.181818  2 / 11
2          0.0              0.0            14.0  0.000000  0 / 14
3         10.0              9.0            16.0  0.057143  2 / 35

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.942857
1  2   1.000000
2  3   1.000000