In [1]:
import h2o
from h2o.estimators.gbm import H2OGradientBoostingEstimator

h2o.init()

url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         8 hours 6 mins
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.1
H2O_cluster_version_age:    30 days
H2O_cluster_name:           H2O_from_python_Gerd_zagcwr
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.973 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.9.0 final
--------------------------  ---------------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
train, test = iris.split_frame([0.8])

gbm = H2OGradientBoostingEstimator()
gbm.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

gbm Model Build progress: |███████████████████████████████████████████████| 100%

In [4]:
gbm

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_model_python_1619271257534_3


Model Summary:

     number_of_trees  number_of_internal_trees  model_size_in_bytes  ...  mean_depth  min_leaves  max_leaves  mean_leaves
0               50.0                     150.0              24026.0  ...    4.853333         2.0        10.0     8.133333

[1 rows x 10 columns]

ModelMetricsMultinomial: gbm
** Reported on train data. **

MSE: 0.0010004669513244489
RMSE: 0.03163015888870065
LogLoss: 0.010946797893821802
Mean Per-Class Error: 0.0
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error     Rate
0         42.0              0.0             0.0    0.0   0 / 42
1          0.0             45.0             0.0    0.0   0 / 45
2          0.0              0.0            33.0    0.0   0 / 33
3         42.0             45.0            33.0    0.0  0 / 120

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0

Scoring History:

                timestamp    duration  ...  training_classification_error  training_auc  training_pr_auc
0     2021-04-24 23:43:26   0.002 sec  ...                       0.658333           NaN              NaN
1     2021-04-24 23:43:26   0.015 sec  ...                       0.033333           NaN              NaN
2     2021-04-24 23:43:26   0.019 sec  ...                       0.041667           NaN              NaN
3     2021-04-24 23:43:26   0.023 sec  ...                       0.033333           NaN              NaN
4     2021-04-24 23:43:26   0.028 sec  ...                       0.033333           NaN              NaN
5     2021-04-24 23:43:26   0.032 sec  ...                       0.033333           NaN              NaN
6     2021-04-24 23:43:26   0.036 sec  ...                       0.033333           NaN              NaN
7     2021-04-24 23:43:26   0.040 sec  ...                       0.033333           NaN              NaN
8     2021-04-24 23:43:26   0.044 sec  ...                       0.041667           NaN              NaN
9     2021-04-24 23:43:26   0.048 sec  ...                       0.041667           NaN              NaN
10    2021-04-24 23:43:26   0.054 sec  ...                       0.033333           NaN              NaN
11    2021-04-24 23:43:26   0.058 sec  ...                       0.033333           NaN              NaN
12    2021-04-24 23:43:26   0.063 sec  ...                       0.033333           NaN              NaN
13    2021-04-24 23:43:26   0.070 sec  ...                       0.033333           NaN              NaN
14    2021-04-24 23:43:26   0.074 sec  ...                       0.025000           NaN              NaN
15    2021-04-24 23:43:26   0.078 sec  ...                       0.025000           NaN              NaN
16    2021-04-24 23:43:26   0.083 sec  ...                       0.025000           NaN              NaN
17    2021-04-24 23:43:26   0.087 sec  ...                       0.016667           NaN              NaN
18    2021-04-24 23:43:26   0.092 sec  ...                       0.008333           NaN              NaN
19    2021-04-24 23:43:26   0.094 sec  ...                       0.008333           NaN              NaN

[20 rows x 9 columns]

See the whole table with table.as_data_frame()

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0  petal_len           183.059082           1.000000    0.498108
1  petal_wid           178.897522           0.977267    0.486784
2  sepal_len             3.298778           0.018020    0.008976
3  sepal_wid             2.253472           0.012310    0.006132

In [6]:
gbm.model_performance(test)

ModelMetricsMultinomial: gbm
** Reported on test data. **

MSE: 0.0817207413031615
RMSE: 0.2858683985738219
LogLoss: 0.34298658198725845
Mean Per-Class Error: 0.08627450980392158
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error    Rate
0          8.0              0.0             0.0  0.000000   0 / 8
1          0.0              4.0             1.0  0.200000   1 / 5
2          0.0              1.0            16.0  0.058824  1 / 17
3          8.0              5.0            17.0  0.066667  2 / 30

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.933333
1  2   1.000000
2  3   1.000000

In [5]:
gbm.predict(test)

gbm prediction progress: |████████████████████████████████████████████████| 100%

predict,Iris-setosa,Iris-versicolor,Iris-virginica
Iris-setosa,0.998431,0.000525444,0.00104381
Iris-setosa,0.99843,0.00052556,0.00104406
Iris-setosa,0.998718,0.000780259,0.00050204
Iris-setosa,0.998429,0.000525838,0.0010449
Iris-setosa,0.99843,0.00052556,0.00104406
Iris-setosa,0.998626,0.000856273,0.000517475
Iris-setosa,0.99843,0.00052556,0.00104406
Iris-setosa,0.998993,0.000503539,0.000503606
Iris-versicolor,0.000668638,0.998376,0.000955018
Iris-virginica,0.00145247,0.0142082,0.984339