In [1]:
import h2o

h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.11" 2021-04-20; OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.20.04); OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.20.04, mixed mode, sharing)
  Starting server from /home/gerd/Documents/Python/venvs/h2o/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp2doyg4om
  JVM stdout: /tmp/tmp2doyg4om/h2o_gerd_started_from_python.out
  JVM stderr: /tmp/tmp2doyg4om/h2o_gerd_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Vienna
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.2
H2O_cluster_version_age:    1 month and 8 days
H2O_cluster_name:           H2O_from_python_gerd_mfslqe
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.867 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.5 final
--------------------------  ------------------------------------------------------------------

In [2]:
data = h2o.import_file('http://h2o-public-test-data.s3.amazonaws.com/smalldata/airlines/allyears2k_headers.zip')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
train, test, valid = data.split_frame([0.8, 0.1])

In [4]:
print(train.nrows , test.nrows , valid.nrows)

35176 4386 4416

In [11]:
# manual sampling
train2 = data[0:35176,:]

#assigning names to the sampled frame
train2 = h2o.assign(train2, "trainingset_2")

In [12]:
train2.shape

(35176, 31)

In [14]:
h2o.ls()

                      key
0  allyears2k_headers.hex
1           py_2_sid_b9dd
2           py_3_sid_b9dd
3           py_4_sid_b9dd
4           trainingset_2

In [30]:
# get all rows for the columns 1-4
datecolumns = data[:, 0:4]
datecolumns

Year,Month,DayofMonth,DayOfWeek
1987,10,14,3
1987,10,15,4
1987,10,17,6
1987,10,18,7
1987,10,19,1
1987,10,21,3
1987,10,22,4
1987,10,23,5
1987,10,24,6
1987,10,25,7

In [31]:
airports = data[:, ['Origin', 'Dest']]
airports

Origin,Dest
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO
SAN,SFO

In [32]:
# concatenating frames on the x axis (requires same amount of rows for both frames)
concat1 = datecolumns.cbind(airports)
concat1

Year,Month,DayofMonth,DayOfWeek,Origin,Dest
1987,10,14,3,SAN,SFO
1987,10,15,4,SAN,SFO
1987,10,17,6,SAN,SFO
1987,10,18,7,SAN,SFO
1987,10,19,1,SAN,SFO
1987,10,21,3,SAN,SFO
1987,10,22,4,SAN,SFO
1987,10,23,5,SAN,SFO
1987,10,24,6,SAN,SFO
1987,10,25,7,SAN,SFO

In [34]:
# concatenating frames on the y axis (requires same amount of columns for both frames)
concat2 = train.rbind([test, valid])
concat2

Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,IsArrDelayed,IsDepDelayed
1987,10,14,3,741,730,912,849,PS,1451,NA,91,79,nan,23,11,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,YES
1987,10,15,4,729,730,903,849,PS,1451,NA,94,79,nan,14,-1,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,NO
1987,10,17,6,741,730,918,849,PS,1451,NA,97,79,nan,29,11,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,YES
1987,10,18,7,729,730,847,849,PS,1451,NA,78,79,nan,-2,-1,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,NO,NO
1987,10,19,1,749,730,922,849,PS,1451,NA,93,79,nan,33,19,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,YES
1987,10,21,3,728,730,848,849,PS,1451,NA,80,79,nan,-1,-2,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,NO,NO
1987,10,22,4,728,730,852,849,PS,1451,NA,84,79,nan,3,-2,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,NO
1987,10,23,5,731,730,902,849,PS,1451,NA,91,79,nan,13,1,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,YES
1987,10,24,6,744,730,908,849,PS,1451,NA,84,79,nan,19,14,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,YES
1987,10,25,7,729,730,851,849,PS,1451,NA,82,79,nan,2,-1,SAN,SFO,447,nan,nan,0,NA,0,nan,nan,nan,nan,nan,YES,NO

In [55]:
A = h2o.H2OFrame.from_python({'A':['Hello', 'World', 'Welcome', 'To', 'H2O', 'World', 'hi', 'gerd', 'gg'],
                                'numbers': [0,1,2,3,4,5, 6, 7, 8, 9],
                                'morenumbers': [5,4,3,2,1,0,6,7, 8, 9]})


B = h2o.H2OFrame.from_python({'B':['asdfdsaf','fdsafdsaf','fdsafsf','fasdfs','adffsda','adsffa','fdsaf','adsffa','asdf', 'fdas', 'dsfda', 'ds', 'fsadfa', 'sddadfsaf', 'dsaf', 'asdfd', 'fsdas', 'fsdfsafd', 'sdfafdsa'],
                                'numbers': [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]})

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

In [62]:
h2o.cluster().shutdown()

H2O session _sid_b9dd closed.