In [5]:
import h2o
from h2o.estimators import H2ONaiveBayesEstimator

h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         1 hour 48 mins
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.1
H2O_cluster_version_age:    2 months and 10 days
H2O_cluster_name:           H2O_from_python_Gerd_zsswgf
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.975 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.9.0 final
--------------------------  ---------------------------------------------------------

In [6]:
url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url)

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [7]:
train, test = iris.split_frame([0.8])

In [8]:
naive_bayes = H2ONaiveBayesEstimator(model_id="naivebayes") 
naive_bayes.train(["sepal_len", "sepal_wid", "petal_len", "petal_wid"], "class", train)

naivebayes Model Build progress: |████████████████████████████████████████| 100%

In [9]:
naive_bayes

Model Details
=============
H2ONaiveBayesEstimator :  Naive Bayes
Model Key:  naivebayes


Model Summary:

,,number_of_response_levels,min_apriori_probability,max_apriori_probability
0,,3.0,0.327731,0.336134

ModelMetricsMultinomial: naivebayes
** Reported on train data. **

MSE: 0.03485059622548397
RMSE: 0.18668314392436178
LogLoss: 0.10903262964817356
Mean Per-Class Error: 0.04209401709401709
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica     Error     Rate
0         40.0              0.0             0.0  0.000000   0 / 40
1          0.0             37.0             2.0  0.051282   2 / 39
2          0.0              3.0            37.0  0.075000   3 / 40
3         40.0             40.0            39.0  0.042017  5 / 119

Top-3 Hit Ratios:

   k  hit_ratio
0  1   0.957983
1  2   1.000000
2  3   1.000000

In [11]:
naive_bayes.model_performance(test)

ModelMetricsMultinomial: naivebayes
** Reported on test data. **

MSE: 0.008743045566735656
RMSE: 0.09350425427078522
LogLoss: 0.03471668530403905
Mean Per-Class Error: 0.0
AUC: NaN
AUCPR: NaN
Multinomial auc values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).
Multinomial auc_pr values: Table is not computed because it is disabled (model parameter 'auc_type' is set to AUTO or NONE) or due to domain size (maximum is 50 domains).

Confusion Matrix: Row labels: Actual class; Column labels: Predicted class

   Iris-setosa  Iris-versicolor  Iris-virginica  Error    Rate
0         10.0              0.0             0.0    0.0  0 / 10
1          0.0             11.0             0.0    0.0  0 / 11
2          0.0              0.0            10.0    0.0  0 / 10
3         10.0             11.0            10.0    0.0  0 / 31

Top-3 Hit Ratios:

   k  hit_ratio
0  1        1.0
1  2        1.0
2  3        1.0