In [1]:
import h2o
import pandas as pd
import numpy as np

from h2o.estimators.glm import H2OGeneralizedLinearEstimator

pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [2]:
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         21 secs
H2O_cluster_timezone:       Europe/Berlin
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.1
H2O_cluster_version_age:    2 months and 10 days
H2O_cluster_name:           H2O_from_python_Gerd_m7rb5p
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    3.975 Gb
H2O_cluster_total_cores:    16
H2O_cluster_allowed_cores:  16
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.9.0 final
--------------------------  ---------------------------------------------------------

In [4]:
data = h2o.import_file('http://h2o-public-test-data.s3.amazonaws.com/smalldata/airlines/allyears2k_headers.zip')
dataframe = data.as_data_frame()

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [5]:
dataframe.head()

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14,C15,C16,C17,C18,C19,C20,C21,C22,C23,C24,C25,C26,C27,C28,C29,C30,C31
0,1987,10,14,3,741,730,912,849,5,1451,3499,91.0,79.0,79.0,23.0,11.0,106,118,447,447.0,NaN,0,3,0,0,NaN,NaN,NaN,NaN,1,1
1,1987,10,15,4,729,730,903,849,5,1451,3499,94.0,79.0,79.0,14.0,-1.0,106,118,447,447.0,NaN,0,3,0,0,NaN,NaN,NaN,NaN,1,0
2,1987,10,17,6,741,730,918,849,5,1451,3499,97.0,79.0,79.0,29.0,11.0,106,118,447,447.0,NaN,0,3,0,0,NaN,NaN,NaN,NaN,1,1
3,1987,10,18,7,729,730,847,849,5,1451,3499,78.0,79.0,79.0,-2.0,-1.0,106,118,447,447.0,NaN,0,3,0,0,NaN,NaN,NaN,NaN,0,0
4,1987,10,19,1,749,730,922,849,5,1451,3499,93.0,79.0,79.0,33.0,19.0,106,118,447,447.0,NaN,0,3,0,0,NaN,NaN,NaN,NaN,1,1

In [33]:
x = ['', '']
y = "IsArrDelayed"