**k means clustering**
<p>https://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/k-means.html?highlight=means</p>
<p>https://en.wikipedia.org/wiki/Curse_of_dimensionality</p>

In [1]:
import h2o
from h2o.estimators.kmeans import H2OKMeansEstimator
import matplotlib.pyplot as plt
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.11" 2021-04-20; OpenJDK Runtime Environment (build 11.0.11+9-Ubuntu-0ubuntu2.20.04); OpenJDK 64-Bit Server VM (build 11.0.11+9-Ubuntu-0ubuntu2.20.04, mixed mode, sharing)
  Starting server from /home/gerd/Documents/Python/venvs/h2o/lib/python3.8/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpia7m08vf
  JVM stdout: /tmp/tmpia7m08vf/h2o_gerd_started_from_python.out
  JVM stderr: /tmp/tmpia7m08vf/h2o_gerd_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         01 secs
H2O_cluster_timezone:       Europe/Vienna
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.2
H2O_cluster_version_age:    2 months and 18 days
H2O_cluster_name:           H2O_from_python_gerd_er2izt
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.867 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         accepting new members, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.10 final
--------------------------  ------------------------------------------------------------------

In [2]:
url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url)
train, test = iris.split_frame([0.8], seed=69)

features = iris.columns
features.remove('class')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [3]:
iris.columns

['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']

In [5]:
km = H2OKMeansEstimator(k=2)
km.train(x=train.columns, training_frame=train)

kmeans Model Build progress: |████████████████████████████████████████████| 100%

In [6]:
km

Model Details
=============
H2OKMeansEstimator :  K-means
Model Key:  KMeans_model_python_1626611505366_2


Model Summary:

,,number_of_rows,number_of_clusters,number_of_categorical_columns,number_of_iterations,within_cluster_sum_of_squares,total_sum_of_squares,between_cluster_sum_of_squares
0,,122.0,2.0,1.0,3.0,223.27151,565.0,341.72849

ModelMetricsClustering: kmeans
** Reported on train data. **

MSE: NaN
RMSE: NaN
Total Within Cluster Sum of Square Error: 223.27150983624387
Total Sum of Square Error to Grand Mean: 565.0000036771889
Between Cluster Sum of Square Error: 341.7284938409451

Centroid Statistics:

     centroid  size  within_cluster_sum_of_squares
0         1.0  81.0                      177.25296
1         2.0  41.0                       46.01855

Scoring History:

,,timestamp,duration,iterations,number_of_reassigned_observations,within_cluster_sum_of_squares
0,,2021-07-18 14:32:07,0.004 sec,0.0,NaN,NaN
1,,2021-07-18 14:32:07,0.012 sec,1.0,122.0,501.507544
2,,2021-07-18 14:32:07,0.014 sec,2.0,7.0,231.743396
3,,2021-07-18 14:32:07,0.015 sec,3.0,0.0,223.271510

In [12]:
predictions = km.predict(test)

kmeans prediction progress: |█████████████████████████████████████████████| 100%