**k means clustering**
<h5>https://docs.h2o.ai/h2o/latest-stable/h2o-docs/data-science/k-means.html?highlight=means</h5>

In [15]:
import h2o
from h2o.estimators.kmeans import H2OKMeansEstimator
import matplotlib.pyplot as plt
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         53 mins 52 secs
H2O_cluster_timezone:       Europe/Vienna
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.32.1.2
H2O_cluster_version_age:    2 months and 18 days
H2O_cluster_name:           H2O_from_python_gerd_qol108
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    2.867 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.8.10 final
--------------------------  ------------------------------------------------------------------

In [6]:
url = 'http://h2o-public-test-data.s3.amazonaws.com/smalldata/iris/iris_wheader.csv'
iris = h2o.import_file(url)
train, test = iris.split_frame([0.8], seed=69)

features = iris.columns
features.remove('class')

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [16]:
iris.columns

['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']

In [7]:
km = H2OKMeansEstimator(k=3)
km.train(x=train.columns, training_frame=train)

kmeans Model Build progress: |████████████████████████████████████████████| 100%

In [9]:
km

Model Details
=============
H2OKMeansEstimator :  K-means
Model Key:  KMeans_model_python_1626605085146_2


Model Summary:

,,number_of_rows,number_of_clusters,number_of_categorical_columns,number_of_iterations,within_cluster_sum_of_squares,total_sum_of_squares,between_cluster_sum_of_squares
0,,122.0,3.0,1.0,10.0,130.973562,565.0,434.026438

ModelMetricsClustering: kmeans
** Reported on train data. **

MSE: NaN
RMSE: NaN
Total Within Cluster Sum of Square Error: 130.9735620454526
Total Sum of Square Error to Grand Mean: 565.0000036771889
Between Cluster Sum of Square Error: 434.02644163173636

Centroid Statistics:

     centroid  size  within_cluster_sum_of_squares
0         1.0  41.0                      41.248926
1         2.0  41.0                      46.018550
2         3.0  40.0                      43.706086

Scoring History:

,,timestamp,duration,iterations,number_of_reassigned_observations,within_cluster_sum_of_squares
0,,2021-07-18 13:13:59,0.003 sec,0.0,NaN,NaN
1,,2021-07-18 13:13:59,0.015 sec,1.0,122.0,343.173035
2,,2021-07-18 13:13:59,0.018 sec,2.0,17.0,148.493382
3,,2021-07-18 13:13:59,0.020 sec,3.0,4.0,134.548661
4,,2021-07-18 13:13:59,0.023 sec,4.0,4.0,132.748773
5,,2021-07-18 13:13:59,0.025 sec,5.0,2.0,131.670955
6,,2021-07-18 13:13:59,0.027 sec,6.0,1.0,131.378719
7,,2021-07-18 13:13:59,0.028 sec,7.0,1.0,131.287053
8,,2021-07-18 13:13:59,0.030 sec,8.0,1.0,131.226612
9,,2021-07-18 13:13:59,0.033 sec,9.0,1.0,131.054239
10,,2021-07-18 13:13:59,0.035 sec,10.0,0.0,130.973562

In [12]:
predictions = km.predict(test)

kmeans prediction progress: |█████████████████████████████████████████████| 100%